@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__link {
    @apply relative text-xl w-fit block font-semibold text-white
           after:block after:content-[""] after:absolute after:bottom-0 after:left-0
           after:h-[3px] after:rounded-full after:bg-yellow-400 after:w-full
           after:scale-x-0 after:origin-left
           after:transition-transform after:duration-300
           after:hover:scale-x-100;
  }

  .button__default {
    @apply md:px-12 md:py-2.5 px-6 py-1.5 text-white font-semibold text-sm md:text-lg transition-all duration-200 rounded-lg;
  }
}
